* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #2e2e2e;
}

.d-flex {
  display: flex;
}

header {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.header-wrapper {
  justify-content: space-between;
  max-width: 1200px;
}

.wrapper {
  max-width: 1200px;
}

.flex-wrapper {
  display: flex;
}

.header-left > :first-child::after {
  content: '\002f';
  margin: 0 5px;
}

.header-left {
  font-weight: bold;
  align-items: center;
}

.header-left > :first-child {
  text-transform: uppercase;
}

.header-avatar {
  vertical-align: middle;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 1px solid darkgrey;
}
  
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.card-btn img{
  height: 50px;
  width: 50px;
}

/*books html styles */

.books_wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
}

.card_image {
  height: 120px;
  border: 1px solid black;
  background-image: linear-gradient(to bottom right,  transparent calc(50% - 1px), black, transparent calc(50% + 1px));
  
}

